.bordered {border: solid 1px gray;   background:#fff;}


html,body{margin:0;padding:0}
body{
font: 90% sans-serif;
background:#eeeeee;
}

a {color:#002BB8;}


div#content p{line-height:1.4; color:#222222; }


div#footer{background: #333;color: #FFF; text-align:right;}
div#footer p{margin:0;padding:5px 10px}
div#footer a{display:inline;padding:0;color: #C6D5FD}

div#wrapper{float:right;width: 100%; margin-left: -165px}
div#content, div#cloud{margin:15px; margin-top:0px; margin-left: 165px; padding:25px 30px 40px 30px; }
div#navigation{float:left;width:150px; }

div#buttons{margin:0px; margin-top:15px; margin-left: 165px; padding:0px; }
div#buttons a {background:#fff; padding:0px 10px 0 10px; margin:10px 0px 10px 10px; border: solid 1px gray; border-bottom:none; text-decoration:none;}

div#cloud a {text-decoration:none}

div#footer{clear:both;width:100%}

div .otstup {margin-left:20px; margin-top:10px;}

h3#title {width:165px; text-align: center; margin-top: 0;}

h1 {line-height:1.2em;
margin-bottom:0.1em;
margin-top:0;
padding-bottom:0;
margin-bottom:10px;
font-size:190%;
border-bottom:1px solid #AAAAAA;
}

.box {margin-left:15px; padding:10px;}

#menu {padding:5px; padding-left:20px; margin-left:15px;}
#menu ul {line-height:1.7em;
list-style-image:url(bullet.gif); margin:0; padding:0;}


ul, ol {line-height:1.7em;}
ul {list-style-image:url(bullet.gif);}

#search input {width:100%; margin-bottom:5px;}

#logo {width:140px; height:140px; padding:15px; padding-bottom:0px;}

.eng {font-style: italic; float:right}


pre {
background-color:#eee;
border:1px dashed #aaa;
color:black;
line-height:1.1em;
padding:1em;
font-size:120%;
margin:5px;
margin-top:15px;
margin-bottom:0px;
}

/*SEARCH*/
.ac_input {
  width: 200px;
}
.ac_results {
  padding: 0px;
  border: 1px solid WindowFrame;
  background-color: Window;
  overflow: hidden;
}

.ac_results ul {
  width: 100%;
  list-style-position: outside;
  list-style: none;
  padding: 0;
  margin: 0;
}

.ac_results iframe {
  display:none;/*sorry for IE5*/
  display/**/:block;/*sorry for IE5*/
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
  filter:mask();
  width:3000px;
  height:3000px;
}

.ac_results li {
  margin: 0px;
  padding: 2px 5px;
  cursor: pointer;
  display: block;
  width: 100%;
  font: menu;
  font-size: 12px;
  overflow: hidden;
}
.ac_loading {
  background : url('/jquery/img/indicator.gif') right center no-repeat;
}
.ac_over {
  background-color: Highlight;
  color: HighlightText;
}

p code {
    background-color: #F8F8F8;
    border: 1px solid #DADADA;
    border-radius: 2px 2px 2px 2px;
    font-family: Consolas,"Liberation Mono",Courier,monospace;
    font-size: 12px;
    margin: 0 2px;
    padding: 1px 5px 0;
    white-space: nowrap;
}

a.github {
  float: left;
  padding: 5px 10px 5px 30px;
  background: #EAEAEA no-repeat;
  background-position: 9px 6px, 0px, 0px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAPCAYAAADtc08vAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QYXDAcenK5tFwAAAfpJREFUKM+NUz1vE0EQfTu79oX41rkPn4wlOiQ6JEoDhiDKSBQ0SBQpaPMPaCipkaCIAIkiBSlQxC9AkIAoaJCoIUIgJcR3vjvLsmJ7PyhyZ50igfOq2dl5b2ZnZhlOwfO8m0R0nzF2m1nbAQDL2IG19p0x5nWWZbvVeFaxecv3X3Eh1vEfaKW24jR9AEBXBXgYhnuC6CrOAGXM5yRJbgDQHABavr8lOF9TSu1OZrN7gzQ9IM4vEGN9a21iAbcfxw8n0+mjeq12SXDeO+c4F8fHxzuQUnbbUWTbUWSDINgskrgAlitJ3bLaIAg2y3gpZZccITbmpSn1sjBHAMYVgREACwBa6+3S6QixQSDqAYA2ZsoYSxa9nzG2r42ZAACIegSgU9wc5nm+v0ggy7KfYOxPcexQWRqAFQB0hiEQrPUK25IFfgEAZ2wlDMM7i9ie561xoiZOMv8mDuwZa3EUx9oo9cZ33ev/IvtSXhOcv6i43tNEqWfTyQzWWp0Nh8N8PP5IRGMpZXfebce5RUT9+tLSJ050vvQbY55Snudfa07teTuK6p4Qq41GY1267hciOqoIjJrNZuvUNj5J0/Tb/C+Evv+BEV3WxlwxxgzzPM8q8bIVhoecaLnYhbfxYHAX1a4naboKxrY50Y+aEN/n4z1BoyQrpR6XZAD4CxrjxWg0Q7lGAAAAAElFTkSuQmCC'), linear-gradient(#FAFAFA, #EAEAEA);
  text-shadow: 0 1px 0 #FFFFFF;
  color: #333333;
  border: 1px solid #C5C5C5;
  border-radius: 3px 3px 3px 3px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
}

a.github:hover {
  border-color: #51A7E8;
  box-shadow: 0 0 5px rgba(81, 167, 232, 0.5);
  text-decoration: none;
}

